.nav-link {
	display: inline-block;
	margin-right: 15px;
}
.navbar{
	display: block;
}
.navbar-nav {
	display: block;
}
.jumbohead{
	background-color:#fff!important;
	background-size:50%;
	background-repeat:no-repeat;
	background-position: bottom right;
	height:50%;
	margin-top: 50px;
}
@media(max-width: 768px){
	.jumbohead{
		background-size: 95%
	}
}

.jumbohead1{
	background-repeat:no-repeat;
	background-position: center right;
}
.jumbohead1 p,.jumbohead1 h1{
	color: #fff
}
.card,.alert{
	border-radius: 1em
}
.card-title,.card-text{
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

a{
	text-decoration: none!important;
	color:#000
}
a:hover{
	color:#5ea67a
}
.textcon p{
	line-height: 2em;
	margin:1.5em 0;
}
mark{
	font-weight: bolder;
}
.colored{
	color:#5ea67a
}
.img-fluid{
	border-radius: 1em
}
.card-img-top {
	border-top-left-radius: calc(1rem - 1px);
	border-top-right-radius: calc(1rem - 1px);
}